.infoa-box{
  align-content: center;
  display: flex;
}

.info-grid{
  margin: 1rem;
}

@media (max-width: 960px) {
  .info-box{
    max-width: 25rem;
  }
}

@media (max-width: 600px) {
  .info-box{
    max-width: 20rem;
  }
}