.welcome-grid {
  min-height: 100vh;
  width: 100vw;
  padding:2rem;
  background-color: #FAFAFD;
}

.text .text-inside{
  text-shadow: 0.175rem 0.175rem 0.35rem #9B9B9B;
}

.text-inside .text-emphasis{
  color: #759EFF;
  margin-right: 0;
}

.text .text-under{
  color: #9B9B9B;
}