.about-page{
  min-height: 100vh;
  width: 100vw;
  background-color: #F6F6FD;
  padding:2rem;
}

.text-title{
  color: #9B9B9B;
}

.text-emphasis{
  color: #759EFF;
}

.profile-img {
  max-width: 20rem;
  margin: 2rem;
  border-radius: 50%;
  box-shadow: 0.175rem 0.175rem 1rem 0 #9B9B9B;
}