.image-f-box{
  box-shadow: 0.175rem 0.175rem 1rem 0 #9B9B9B;
  border-radius: 0.7rem;
  display: flex;
  align-items: center;
  width: 13rem;
  height: 20rem;
}

.leader-image{
  border-radius: 0.7rem;
  background-color:none;
  width: 13rem;
  height: 20rem;
}

.leader-image-info{
  border-radius: 0.7rem;
  box-shadow: 0.175rem 0.175rem 1rem 0 #9B9B9B;
  background-color:none;
  width: 13rem;
  height: 20rem;
}

.leader-info-grid{
  width: 50rem;
  box-shadow: 0.175rem 0.175rem 1rem 0 #9B9B9B;
  border-radius: 0.7rem;
  background-color: #FAFAFD;
  padding: 1rem;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -11rem;
  margin-left: -25rem;
}