.infoa-box{
  align-content: center;
  display: flex;
  box-shadow: 0.175rem 0.175rem 1rem 0 #9B9B9B;
  border-radius: 0.7rem;
}

.info-grid{
  margin: 1rem;
}

@media (max-width: 960px) {
  .info-box{
    max-width: 25rem;
  }
}

@media (max-width: 600px) {
  .info-box{
    max-width: 20rem;
  }
}